<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MyTestConfig.LogLevel" value="Warn" />
    <add key="MyTestConfig.MaxLogFileSizeMb" value="42" />
    <add key="MyTestConfig.EndOfYear" value="2014-12-31T00:00:00" />
    <add key="MyTestConfig.ValidUsernameRegex.Pattern" value="^[A-Za-z]{1}[A-Za-z-_0-9]{7,}$" />
    <add key="MyTestConfig.ValidUsernameRegex.Options" value="None" />
    <add key="MyTestConfig.ConnectionString" value="eOc/6AXNoHdGdIFqWJW1337s0DkvCk7WqV0AA6+/V7sN31W1rry/23FM/ULNUy+PO/5yTwN8aYvbDL7RlW74/yw=" />
  </appSettings>
</configuration>
